@import '../../assets/styles/vars';
@import '../../assets/styles/mixins';

.Wrapper {
  // background-image: url('../../assets/images/desktop/11.jpg');
  background-repeat: no-repeat;
  background-size: 100%;
  background-position: bottom;
  height: 100%;
  padding-left: 24px;
  &.dark {
    background-color: #1F1F1F;
    ;
  }
  &.light{
    background-color:  #F6F6F7;
  }
  &.colorful {
    background: #ECEDFD;
  }
}