@import '../../assets/styles/vars';

.button {
  width: 16px;
  height: 16px;
  background-color: transparent;
  border: none;
}

.icon {
  width: 16px;
  height: 16px;
  stroke: $icon-main-color;
  &.dark {
    stroke: $icon-secondary-color;
  }
}
