@import '../../assets/styles/vars';
@import '../../assets/styles/mixins';

.DefaultTitle {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.29;
  text-align: center;
  letter-spacing: -0.02em;
  margin-left: auto;
  margin-right: auto;

  color: rgba(255, 255, 255, 0.5);
@include mobileSmall{
    max-width: 335px;
}
@include mobile{
    width: 335px;
}
@include tablet{
    width: 486px;
}

};
.DefaultLink{
    color:#BEDBB0;
}
.Wrapper{
    background-color: #1F1F1F;
}