@import '../../assets/styles/vars';

.cardWrapper {
  position: relative;
  padding: 14px 21px;
  width: 335px;
  height: 154px;
  background-color: rgb(18, 18, 18);
  // background-color: var(--black-color);
  border-radius: 8px;
  overflow: hidden;
}

.priorityLine {
  position: absolute;
  top: 0;
  left: 0;
  width: 4px;
  height: 100%;
  background-color: rgba(22, 22, 22, 0.3);
}

.title {
  margin-bottom: 8px;
  font-weight: 600;
  font-size: 14px;
  line-height: 1.5;
}

.description {
  margin-bottom: 14px;
  font-weight: 400;
  font-size: 12px;
  line-height: 1.33;
  color: rgba(255, 255, 255, 0.5);

  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
}

.controlPanel {
  padding-top: 14px;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  border-top: 1px solid rgba(255, 255, 255, 0.1);
}

.statusInfo {
  display: flex;
}

.subtitle {
  margin-bottom: 4px;
  font-weight: 400;
  font-size: 8px;
  line-height: 1.5;
  color: rgba(255, 255, 255, 0.5);
}

.priorityWrapper {
  margin-right: 14px;
}

.priorityStatus {
  display: flex;
}

.priorityCircle {
  width: 12px;
  height: 12px;
  margin-right: 4px;
  border-radius: 50%;
  background-color: rgba(22, 22, 22, 0.3);
}

.bg_low {
  background-color: #8fa1d0;
  // background-color: var(--priority-low-color);
}
.bg_medium {
  background-color: #e09cb5;
  // background-color: var(--priority-medium-color);
}
.bg_high {
  background-color: #bedbb0;
  // background-color: var(--priority-high-color);
}

.text {
  font-weight: 400;
  font-size: 10px;
  line-height: 1.5;
}

.buttonList {
  display: flex;
}

.item {
  width: 16px;
  height: 16px;

  &:not(:first-child) {
    margin-left: 8px;
  }
}

.icon {
  width: 16px;
  height: 16px;
}
