@import '../../assets/styles/vars';

.Button {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 335px;
  height: 56px;
  border-radius: 8px;
&.Column{
  &.dark{
  background: $black-color;
  }
  // &.light{
  //   background: $white-color;
  // }
  // &.colorful{
  //   background: $white-color;
  // }
}
&.Card{
  background-color:  #BEDBB0;
}
}
.TitleCard {
  font-weight: 500;
  font-size: 14px;
  line-height: 21px;
  letter-spacing: -0.02em;
  &.Column{
  color: $white-color;
  }
  &.Card{
    color:$black-color;
  }
}
.BoxPlus {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 28px;
  height: 28px;

  margin-right: 8px;
  border-radius: 6px;
  &.Column{
    background-color: $white-color;
    stroke:$black-color
  }
  &.Card{
    background-color: $black-color;
    stroke: $white-color;
  }
}
.Svg{
  stroke:inherit;
}