@import 'assets/styles/mixins';

.list {
  display: flex;
  flex-direction: column;
  row-gap: 4px;
  height: calc(100vh - 611px);
  width: 100%;
  margin-top: 40px;
  margin-bottom: 40px;
  overflow-y: auto;
  scrollbar-width: thin;

  display: flex;
  flex-direction: column;
  gap: 4px;

  &::-webkit-scrollbar {
    width: 0.5em;
  }

  &::-webkit-scrollbar-thumb {
    background-color: rgba(0, 0, 0, 0);
  }

  &::-webkit-scrollbar-track {
    background-color: rgba(0, 0, 0, 0);
  }

  @include tablet {
    height: calc(100vh - 655px);
  }
  @include desktop {
    height: calc(100vh - 646px);
  }
}
