.container {
  margin-bottom: 24px;
}

.iconTitle {
  margin-bottom: 14px;

  font-family: 'Poppins-Medium';
  font-weight: 500;
  font-size: 14px;
  line-height: calc(21/14);

  letter-spacing: -0.02em;

  color: #ffffff;
}

.svg {
  margin-right: 8px;
  fill: #151515;
  stroke: rgba(255, 255, 255, 0.5);
  cursor: pointer;
}

.inputIcon {
  cursor: pointer;
  position: absolute;
  opacity: 0;

  & + svg {
    -webkit-transition: all 0.2s;
    transition: all 0.2s;
    cursor: pointer;
  }

  &:hover + svg,
    &:checked+svg,
        &:focus+svg {
    stroke: rgba(255, 255, 255, 1);
  }
}
