@import '../../assets//styles/vars';
@import '../../assets/styles/mixins';

.Wrapper{
  display: flex;
}
.ColumnBlock{
  display: block;
}
.HeaderBlock {
  display: flex;
  justify-content: space-between;
  width: 334px;
  height: 56px;
  background: $black-color;
  border-radius: 8px;
  padding: 18px 20px;
  margin-bottom: 14px;
}
.Title {
  font-weight: 500;
  font-size: 14px;
  line-height: 21px;
  letter-spacing: -0.02em;

  color: $white-color;
}
.IconsBlock {
  display: flex;
  & > li:not(:last-child) {
    margin-right: 8px;
  }
}
.CardsBlock{
  height: 500px;
  overflow-x: hidden;
  margin-right: 18px;
  &::-webkit-scrollbar {
    width: 8px;
  };
  &::-webkit-scrollbar-track {
    background: $white-color;
    opacity: 0.08;
    border-radius: 12px;
}
  &::-webkit-scrollbar-thumb {
    width: 8px;
    height: 142px;
    border: 2px solid $black-color; 
    background: $black-color;
    border-radius: 12px;

  }
}
