.container {
  width: 335px;
  height: 154px;
  background: var(--black-color);
  border-radius: 8px;
}

.title {
  font-weight: 600;
  font-size: 14px;
  line-height: 1.5;
}

.description {
  font-weight: 400;
  font-size: 12px;
  line-height: 1.33;
}

.subtitle {
  font-weight: 400;
  font-size: 8px;
  line-height: 1.5;
}

.priorityBox {
  width: 12px;
  height: 12px;
  border-radius: 50%;
  background-color: rgba(22, 22, 22, 0.3);
}

.bg_low {
  background-color: var(--priority-low-color);
}
.bg_medium {
  background-color: var(--priority-medium-color);
}
.bg_high {
  background-color: var(--priority-high-color);
}

.text {
  font-weight: 400;
  font-size: 10px;
  line-height: 1.5;
}

.buttonList {
  display: flex;
}
