@import '../../assets/styles/vars';
@import '../../assets/styles/mixins';

.backgroundGroupWrapper {
  display: block;
  margin-bottom: 40px;
}

.label {
  margin-bottom: 14px;

  font-family: 'Poppins-Medium';
  font-weight: 500;
  font-size: 14px;
  line-height: calc(21 / 14);

  letter-spacing: -0.02em;
  &.dark {
    color: $white-text-color;
  }
  &.light,
  &.colorful {
    color: $black-text-color;
  }
}

.backgroundGroupWrapper {
  display: block;
  margin-bottom: 40px;
}

.radioWrapper {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  margin-top: 4px;
  &:not(:last-child) {
    margin-right: 4px;
  }
  @include mobile {
    width: 280px;
  }
}

.radioContainer {
  position: relative;
  margin-right: 4px;
  margin-bottom: 4px;
  background: inherit;
  width: 28px;
  height: 28px;

  &.selected {
    border-radius: 6px;

    &.dark {
      border: 1px solid $accent-color;
    }

    &.light {
      border: 1px solid $accent-color;
    }

    &.colorful {
      border: 1px solid $accent-bright-color;
    }
  }
}

.radioInput {
  -webkit-appearance: none;
  appearance: none;
  position: absolute;
}

.radioLabel {
  cursor: pointer;
  content: '';
  display: block;
  width: 100%;
  height: 100%;
  background-size: contain;
  background-repeat: no-repeat;
  z-index: 1;
}

.radioLabelDefault {
  cursor: pointer;

  &::before {
    content: '';
    display: block;
    width: 100%;
    height: 100%;
    z-index: 1;
  }

  &.dark::before {
    background-image: url('../../assets/images/defaultVectorDark.png');
    background-size: contain;
  }

  &.light::before {
    background-image: url('../../assets/images/defaultVectorLight.png');
    background-size: contain;
  }

  &.colorful::before {
    background-image: url('../../assets/images/defaultVectorColorFul.png');
    background-size: contain;
  }
}
