.container {
  width: 335px;
  height: 56px;
  background-color: var(--black-color);
  border-radius: 8px;
}

.title {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.5;
}

.buttonList {
  display: flex;
}
