$accent-color: #BEDBB0;
$accent-bright-color: #5255BC;
$black-color: #121212;
$dark-color: #1F1F1F;
$white-color: #FFFFFF;
$off-white-color: #F6F6F7;
$black-text-color: #161616;
$white-text-color: #FFFFFF;
$priority-low-color: #8FA1D0;
$priority-medium-color: #E09CB5;
$priority-high-color: #BEDBB0;
$main-icon-color:#FFFFFF50;



$start-background-color: linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(190, 219, 176, 1) 100%);