$accent-color: #bedbb0;
$accent-bright-color: #5255bc;
$black-color: #121212;
$dark-color: #1f1f1f;
$white-color: #ffffff;
$off-white-color: #f6f6f7;
$black-text-color: #161616;
$white-text-color: #ffffff;
$priority-low-color: #8fa1d0;
$priority-medium-color: #e09cb5;
$priority-high-color: #bedbb0;
$red-error-color: #ff0000;
$white-background-modal: #fcfcfc;

$start-background-color: linear-gradient(
  180deg,
  rgba(255, 255, 255, 1) 0%,
  rgba(190, 219, 176, 1) 100%
);
