$accent: #3a6af5;
$main-dark: #191d28;
$main-violet: #6359e9;
$main-white: #f3f3f3;
$modal-color: rgba(25, 29, 40, 1);
$main-backgroud: #1F253466;
$text-input-color: #252c41;
$text-input-color1: #252C4180;
$text-input-title-color: #F3F3F366;
$border-color: #F3F3F30F;
$text-color: #ffffff;
$text-color1: #FFFFFF66;
$input-hint-color: #F3F3F34D;
$text-input-title-color: #f3f3f366;
$input-hint-color: #f3f3f34d;
$text-button-color: #242424;

$greeting-title: #4770E4;